table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #333;
  color: white;
}

th:nth-child(1) > .tb,
td:nth-child(1) > .tb{
  width: 90px;
}

th:nth-child(2) > .tb,
td:nth-child(2) > .tb {
  width: 200px ;
}

.TH3 > th:nth-child(3) ,
.TD3 > td:nth-child(3) {
  width: 120px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 90px;
  text-align: center;
}

th:nth-child(5),
td:nth-child(5) {
  width: 180px;
}



td:nth-child(2) {
  text-align: center;
}

td:nth-child(1) {
  text-align: center;
}

td:nth-child(3) {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

h1 {
  margin-bottom: 20px;
  font-size: 35px;
  font-weight: 700;
}

.accept {
  text-align: center;
  background-color: #188d29;
  border-radius: 15px;
  color: #faf8e4;
  max-width: 130px;
  margin: 0 auto;
}

.waiting {
  text-align: center;
  background-color: #bd8721;
  border-radius: 15px;
  color: #faf8e4;
  max-width: 130px;
  margin: 0 auto;
}

.reject {
  text-align: center;
  background-color: rgb(199, 31, 31);
  border-radius: 15px;
  color: #faf8e4;
  width: 130px;
  margin: 0 auto;
}

.notSend {
  text-align: center;
  background-color: rgb(68, 47, 211);
  border-radius: 15px;
  color: #faf8e4;
  width: 130px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.update {
  text-align: center;
  background-color: rgb(3, 155, 31);
  border-radius: 15px;
  color: #faf8e4;
  width: 90px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.delete {
  text-align: center;
  background-color: rgb(237, 53, 11);
  border-radius: 15px;
  color: #faf8e4;
  width: 90px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}

.delete:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.update:hover {
  transform: scale(0.9);
  cursor: pointer;
}

.notSend:hover {
  transform: scale(0.9);
}

.notDelete {
  text-align: center;
  background-color: rgb(118, 159, 213);
  border-radius: 15px;
  color: #faf8e4;
  width: 90px;
  margin: 0 auto;
  transition: transform 0.3s ease;
}
