.Info {
  width: 1200px;
  background-color: #fff;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.note {
    text-align: center;
    color: red;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.form-group label {
    /* margin-bottom: 5px; */
    font-weight: bold;
}

.form-group:nth-child(3) {
    width: 100px;
}



.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="date"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 1em;
    background-color: #fff;
}

.form-buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-update {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-update:hover {
    background-color: #0056b3;
}

.btn-cancel {
    background-color: #6c757d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-cancel:hover {
    background-color: #5a6268;
}
